<form [formGroup]="formulario">
  <input placeholder="Nome" formControlName="nome" />
  <input placeholder="Idade" formControlName="idade" />
  <input placeholder="Cidade" formControlName="cidade" />
  <input placeholder="Estado" formControlName="estado" />
</form>
<button (click)="enviarFormulario()" [disabled]="formulario.invalid">Enviar</button>
<button (click)="preencherFormulario()">Preencher</button>
<button (click)="verificarIdade()">Idade</button>

<p *ngIf="isMaiorIdade">É maior de idade</p>
<p *ngIf="!isMaiorIdade">É menor de idade</p>
